<!doctype html>
<head>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/normalize.css" />
  <script src="/static/htmx.min.js"></script>
</head>
<body>
  <p>Hello {{user}}!</p>
  <p><b>Bold</b> Normal</p>
  <button hx-post="/clicked" hx-swap="outerHTML">Click Me</button>
  <form hx-post="/upload" hx-swap="innerHTML:target">
    <label for="dataInput"> Enter Data: </label>
    <input type="text" id="dataInput" name="dataInput" required />
    <button type="submit">Submit</button>
  </form>

  <div id="imageDisplay">
    <img src="/generate/image" alt="Test Image" />
  </div>
</body>
